body {
	font-family: Helvetica, arial, sans-serif;
	height: 100%;
	margin: 30px;
	text-align: center;
	width: 100%;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
}

h1 {
	font-size: 56px;
}

h2 {
	color: #ff8200;
	font-size: 22px;
	text-transform: uppercase;
}
hr
{
padding:0px 200px 0px 200px
}
/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color: orange;
}

/* selected link */
a:active {
    color: orange;
	font-style: italic;
}
.contact {
	padding: 0px 60px 0px 60px;
	
}
.container {
	text-align: left;
	padding: 60px;
}

