body {
	font-family: Verdana, arial, sans-serif;
	height: 100%;
	margin: 100px;
	text-align: center;
	width: 800px;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
	
}
header {
	padding: 30px;
}

h1 {
	font-family: Arial narrow, arial, sans-serif;
	font-size: 56px;
}

h2 {
	color: #ff8200;
	font-size: 22px;
	text-transform: uppercase;
}
hr
{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ff8200;
    margin: 1em 0;
    border-color: #ff8200;
	padding:0px 200px 0px 200px
}
a:link {
    color: blue;
}
a:visited {
    color: orange;
}
a:hover {
    color: orange;
}
a:active {
    color: orange;
	font-style: italic;
}
.contact {
	padding: 0px 60px 0px 60px;
	
}
.container {
	text-align: left;
	padding: 30px;
	width: 800px;
}
pic {
	float: right;
	
}

