body {
	font-family: Helvetica, arial, sans-serif;
	height: 100%;
	margin: 30px;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 56px;
}

h2 {
	color: #E0723C;
	font-size: 32px; 
}
.container {
	text-align: left;
}
